%base-main{
    width: 100%;
    min-height: calc(100vh - 5rem - 3.75rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%link-style{
    color: #0a66c2;
    font-size: 1.1rem;
    text-decoration: none;
    &:hover{
      color: #09539e;
      text-decoration: #09539e solid underline;
    }
    &:focus{
      color: #09539e;
      text-decoration: #09539e solid underline;
    }
}

%base-form{
    display: flex;
    width: 21rem;
    flex-direction: column;
    justify-content: end;
    border-radius: .5rem;
    background-color: #fff;
    box-shadow: 0 0 .5rem .2rem rgba(0, 0, 0, 0.171);
    padding: 1.2rem 1.5rem 1.5rem 1.5rem;
}

%form-btn{
    height: 3rem;
    border-radius: 3rem;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    background-color: #0a66c2;
    transition: all .1s ease;
    &:hover{
      background-color: #08529c;
    }
    &:focus-visible{
      outline: 2px solid #3a90e6;
    }
}